@charset "utf-8";
@import url('font.css');

.wrap {display:block; width:100%; height:100%; overflow:visible;}

/* common */
.blind {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}

.fs10 {font-size:10px;}
.fs15 {font-size:15px;}
.pt25 {padding-top:25px;}
.pt70 {padding-top:70px !important;}
.pr15 {padding-right:15px;}
.mt25 {margin-top:25px;}
.mt70 {margin-top:70px !important;}
.b200 {border-top:2px solid #000000;}
.fl_left {float:left;}
.fl_right {float:right;}

/* header */
.bgCol_00 {background-color:#000000;}
.bgCol_01 {background-color:#FAD9C7;}
.bgCol_02 {background-color:#FEF9E2;}
.bgCol_03 {background-color:#F9FDFF;}
.bgCol_04 {background-color:#E2F4F8;}

/* open home:page */
.main .head_fix {position:absolute; top:0; left:0; right:0; margin-bottom:20px; padding:10px 10px 0; z-index:1;}
.main .container {padding-top:90px;}

/* sub:page */
.sub .head_fix {position:relative; top:0; left:0; right:0; padding:10px 10px 0;}
.main .head_fix h1, .sub .head_fix h1 {display:block; width:355px; height:60px; margin:0 auto 20px; z-index:1; background:url('../images/header.png') no-repeat 0 0; background-size:100%; text-indent:-9999px;}

/* header */
.head_fix .head_tit {position:relative; top:0; left:0; display:block; height:32px; margin:0 auto;}
.head_fix .head_tit > h2 a {padding-left:42px; font-family:'Cafe24Ssurround'; font-style:normal; font-weight:700; font-size:17px;line-height:32px; text-align:left; letter-spacing:-0.05em;}
.head_fix .head_tit > h2 a::before {
	content:"";
    position:absolute;
    top:0;
    left:0;
	display:block;
	width:32px;
	height:32px;
	background:url("../images/header_ico.png") no-repeat;
    background-size:100%;
}

.head_fix .head_txt {margin-top:15px; padding:20px; background-color:#FFF57F; border:2px solid rgba(0, 0, 0, 0.1); box-sizing:border-box; border-radius:13px; text-align:left; font-family:'Roboto'; font-style:normal; font-weight:700; font-size:15px; line-height:18px; letter-spacing:-0.05em; color:#432F5A;}
.head_fix .head_txt .ico_note {position:relative; margin-top:10px; padding:4px 0 3px 25px; font-family:'Roboto'; font-style:normal; font-weight:700; font-size:12px; line-height:14px; letter-spacing:-0.05em; color:#A15366;}
.head_fix .head_txt .ico_note::before {
    content:""; 
    position:absolute; 
    top:0; 
    left:0; 
    display:block; 
    width:20px; 
    height:20px; 
    margin-right:5px; 
    background:url('../images/note_ico.png') no-repeat;
    background-size:20px;
}

.head_fix .head_txt.ht_type2 {background-color:#FFFFFF; border:2px solid rgba(0, 71, 255, 0.2); font-weight:400;}
.head_fix .head_txt.ht_type2 .ico_note {color:#585CB1;}
.head_fix .head_txt.ht_type2 .ico_note::before {
    background:url('../images/note_ico_02.png') no-repeat;
}

/* footer */
.ft_fix {position:fixed; bottom:0; left:0; right:0; padding:0 10px 10px 10px;}
.ft_fix::before {
    content:"";
    display:block;
    width:100%;
    height:60px; 
    background-color:#fff; 
    border-radius:10px;
    box-sizing:border-box;
}
.ft_fix .ft_link {position:absolute; top:-25px; left:0; display:block; width:282px; height:75px; margin:0 calc(50% - 141px); }
.ft_fix .ft_link::after {
    content:''; 
    clear:both; 
    display:block;
}
.ft_fix .ft_link > li {float:left; margin-left:15px;}
.ft_fix .ft_link > li:first-child {margin-left:0;}
.ft_fix .ft_link > li > a {position:relative; display:block; height:75px; }
.ft_fix .ft_link > li > a > em {display:block; font-family:'Cafe24Ssurround'; font-style:normal; font-weight:bold; font-size:15px; line-height:18px; letter-spacing:-0.05em; color:#000000; text-align:center;}
.ft_fix .ft_link .link01 {width:79px;}   
.ft_fix .ft_link .link01 a::before {
    content:"";
    display:block; 
    width:80px; 
    height:51px; 
    background:url('../images/ft_icon_01.png') no-repeat;
    background-size:75px auto;
    margin:0 auto;
} 
.ft_fix .ft_link .link01.on a::before {
    content:"";
    display:block; 
    width:51px; 
    height:50px; 
    background:url('../images/ft_icon_01_on.png') no-repeat;
    background-size:51px auto;
    margin:0 auto;
} 
.ft_fix .ft_link .link02 {width:93px;}  
.ft_fix .ft_link .link02 a::before {
    content:"";
    display:block; 
    width:51px; 
    height:50px; 
    background:url('../images/ft_icon_02.png') no-repeat;
    background-size:51px auto;
    margin:0 auto;
}    
.ft_fix .ft_link .link03 {width:79px;}
.ft_fix .ft_link .link03 a::before {
    content:"";
    display:block; 
    width:51px; 
    height:50px; 
    background:url('../images/ft_icon_03.png') no-repeat;
    background-size:51px auto;
    margin:0 auto;
}    

