

/************************************ css 추가 ************************************/
/* motion */


/* plan motion */
.motion_201 {position:absolute; top:58px; right:103px; width:73px; height:75px; background: url('../images/motion_ico_201.png') no-repeat; animation: wheel201 10s linear infinite; transform-origin:50% 50%;}
@keyframes wheel201 {
    100% {transform: rotate(360deg);}
}
.motion_202 {position:absolute; top:83px; right:16px; width:92px; height:89px; background: url('../images/motion_ico_202.png') no-repeat; /* animation: wheel202 10s linear infinite; transform-origin:50% 50%; */ z-index:-1;}
@keyframes wheel202 {
    100% {transform: rotate(360deg);}
}

/* concert motion */
.motion_301 {position:absolute; top:72px; right:96px; width:41px; height:45px; background: url('../images/motion_ico_301.png') no-repeat; animation: twinkle301 .5s ease-in-out infinite alternate;}
@keyframes twinkle301 {
    0% {opacity:0;}
    100% {opacity:100%;}
}
.motion_302 {position:absolute; top:95px; right:25px; width:39px; height:36px; background: url('../images/motion_ico_302.png') no-repeat; animation: twinkle302 .5s ease-in-out infinite alternate;}
@keyframes twinkle302 {
    0% {opacity:100%;}
    100% {opacity:0;}
}
.motion_303 {position:absolute; top:121px; right:109px; width:36px; height:35px; background: url('../images/motion_ico_303.png') no-repeat; animation: twinkle303 2s linear infinite;}
@keyframes twinkle303 {    
    0% {transform: scale(1);}
    25% {transform: scale(0.75);}
    40% {transform: scale(1);}
    60% {transform: scale(0.75);}
    100% {transform: scale(1);}
}
.motion_304 {position:absolute; top:76px; right:62px; width:33px; height:32px; background: url('../images/motion_ico_304.png') no-repeat; animation: twinkle304 2s linear infinite;}
@keyframes twinkle304 {    
    0% {transform: scale(0.75);}
    25% {transform: scale(1);}
    40% {transform: scale(0.75);}
    60% {transform: scale(1);}
    100% {transform: scale(0.75);}
}

/* share motion */
.motion_501 {position:absolute; top:73px; right:62px; width:47px; height:44px; background: url('../images/motion_ico_501.png') no-repeat; animation: twinkle501 .5s ease-in-out infinite alternate;}
@keyframes twinkle501 {
    0% {opacity:50%;}
    100% {opacity:100%;}
}
.motion_502 {position:absolute; top:90px; right:27px; width:43px; height:39px; background: url('../images/motion_ico_502.png') no-repeat; animation: twinkle502 .5s ease-in-out infinite alternate;}
@keyframes twinkle502 {
    0% {opacity:100%;}
    100% {opacity:10%;}
}

/* visitors motion */
.motion_601 {position:absolute; top:68px; right:110px; width:50px; height:51px; background: url('../images/motion_ico_601.png') no-repeat; animation: wave601 1s linear 0s infinite alternate;}
@keyframes wave601 {   
    0% {margin-top:10px;} 
    50% {margin-top:0;}
    100% {margin-top:10px;}
}
.motion_602 {position:absolute; top:80px; right:39px; width:36px; height:35px; background: url('../images/motion_ico_602.png') no-repeat; animation: heart602 2s linear infinite;}
@keyframes heart602 {    
    0% {transform: scale(1);}
    25% {transform: scale(0.75);}
    40% {transform: scale(1);}
    60% {transform: scale(0.75);}
    100% {transform: scale(1);}
}

/* info motion */
.motion_701 {position:absolute; top:88px; right:103px; width:42px; height:41px; background: url('../images/motion_ico_701.png') no-repeat; animation: heart701 2s linear infinite;}
@keyframes heart701 {  
    0% {transform: scale(1);}
    25% {transform: scale(0.75);}
    40% {transform: scale(1);}
    60% {transform: scale(0.75);}
    100% {transform: scale(1);}
}
.motion_702 {position:absolute; top:75px; right:31px; width:41px; height:42px; background: url('../images/motion_ico_702.png') no-repeat; animation: wave702 1s linear 0s infinite alternate;}
@keyframes wave702 {     
    0% {margin-top:5px;} 
    50% {margin-top:0;}
    100% {margin-top:10px;}
}

/* concert */
.cont_concert {position:relative; margin:0 auto; padding:0 10px 95px;  text-align:center;}
.cont_concert p, .cont_concert button {text-align:center; font-family:'Cafe24Ssurround'; font-style:normal; font-weight:bold; font-size:20px; line-height:24px; align-items:center; letter-spacing:-0.05em; color:#442F5B;}
.cont_concert .concert_txt {padding-top:30px;}
.cont_concert .concert_img {width:288px; height:178px; margin:7px auto 0; background: url('../images/character_img.png') no-repeat 0 0; background-size:100%; text-indent:-9999px;}
.cont_concert .concert_btn {position:relative; top:-18px; height:66px; margin:0 auto; padding:0 59px 0 27px; background-color:#FFE9DD; border:3px solid #442F5B; box-sizing:border-box; border-radius:100px; }
.cont_concert .concert_btn::after {
    content:"";
    display:block;
	width:21px;
	height:21px;
    position:absolute;
    top:19px; 
    right:30px;
	background: url("../images/btn_ico.png") no-repeat;
}

.cont_concert.cc_type2 .concert_txt {color:#585CB1;}
.cont_concert.cc_type2 .concert_img {background: url('../images/character_img02.png') no-repeat 0 0;}
.cont_concert.cc_type2 .concert_btn {background-color:#FFFFFF; border:3px solid #585CB1;}
.cont_concert.cc_type2 .concert_btn::after {
	background: url("../images/btn_ico_02.png") no-repeat;
}

/* info */
.cont_info {margin:0 auto; padding:15px 25px 108px;}
.cont_info::after {
    content: ''; 
    clear:both;
    display:block;
}

.cont_info .info_list {float:left; width:325px; margin:0 calc(50% - 162px);}
.cont_info .info_list li {float:left; display:block; margin:15px 0 0 0; padding:0;}
.cont_info .info_list li:nth-child(even) {margin-left:15px;}
.cont_info .info_list li > a {display:block;}
.cont_info .info_list li > a > img {width:155px; height:80px; border:2px solid #000000; box-sizing:border-box; box-shadow:0px 2px 0px #000000; border-radius:10px;}
.cont_info .info_list li > a > span {display:block; margin-top:10px; font-family:'Cafe24SsurroundAir'; font-style:normal; font-weight:300; font-size:13px; line-height:18px; text-align:left; color:#000000;}

/* share */
.cont_share {padding:30px 25px 98px; font-style:normal; color:#000000;}
.cont_share .share_list {}
.cont_share .share_list li {margin-top:15px; font-family:'Cafe24Ssurround'; font-weight:bold; font-size:15px; line-height:18px; letter-spacing:-0.05em;}
.cont_share .share_list li:first-child {margin-top:0;}
.cont_share .share_list li > .share_info {padding:30px 22px; border:2px solid #000000; box-sizing:border-box; box-shadow:0px 2px 0px #000000; border-radius:10px;}
.cont_share .share_list li:nth-child(3n+1) > .share_info {background:#E1FFC1;}
.cont_share .share_list li:nth-child(3n+2) > .share_info {background:#FFE3EB;}
.cont_share .share_list li:nth-child(3n+3) > .share_info {background:#FFFBCF;}

.share_info .share_data {margin-bottom:8px; font-family:'Cafe24SsurroundAir'; font-style:normal; font-weight:300; font-size:13px; line-height:18px;}
.share_info .share_data span::before {
    content:" • ";
    display:inline-block;
    padding:0 5px;
}

.share_info .share_view {position:relative; width:100px; height:100px; margin-bottom:8px; border-radius:10px;}
.share_info .share_view::after {
    content:"";
    display:block;
	width:32px;
	height:32px;
    position:absolute;
    top:63px; 
    left:63px;
	background: url("../images/view_ico.png") no-repeat;
}
.btn_write {position:absolute; bottom:100px; right:10px; width:80px; height:80px; background: url("../images/btn_write.png") no-repeat; background-size:80px; text-indent:-9999px;}
.btn_write > a {display:block;}

/* share artist profile */
.heart {position:relative; width:100%; padding:8px 26px 0 0; font-family:'Cafe24Ssurround'; font-style:normal; font-weight:bold; line-height:18px; text-align:right; letter-spacing:-0.05em; color:#000000;}
.heart.on::after {
    content:"";
    position:absolute;
    top:8px;
    right:0;
    display:block;
	width:18px;
	height:16px;
    background: url("../images/heart_on.png") no-repeat 0 0;
}
.heart.off::after {
    content:"";
    position:absolute;
    top:7px;
    right:0;
    display:block;
	width:20px;
	height:18px;
    background: url("../images/heart_off.png") no-repeat 0 0;
}

/* share_write */
.share_inpType {font-family:'Roboto'; font-style:normal;
    font-weight:700; font-size:15px; line-height:18px;
    letter-spacing:-0.05em; color:#000000;}
.share_inpType > li {margin-top:25px;}
.share_inpType > li:first-child {margin-top:0;}
.share_inpType > li label {display:block; margin-bottom:10px;}
.share_inpType > li label span {padding-left:8px; font-size:13px; font-weight:normal; line-height:15px; opacity: 0.3;}
.share_inpType > li input {width:100%; height:58px; padding:18px; background:#FFFFFF; border:2px solid #000000; box-sizing:border-box; border-radius:13px;}
.share_inpType > li input::placeholder {font-weight:400; color:#000000;}

.inp_imgList li {float:left; margin-right:10px;}
.inp_imgList li > img {width:60px; height:60px; border:2px solid #000000; box-sizing:border-box; border-radius:13px;}

.inp_btn_plus {width:60px; height:60px; background:#FFFFFF; border:2px solid #000000; box-sizing:border-box; border-radius:13px; text-indent:-9999px;}
.inp_btn_plus {position:relative; width:60px; height:60px; background:#FFFFFF; border:2px solid #000000; box-sizing:border-box; border-radius:13px; text-indent:-9999px;}
.inp_btn_plus::before {
    content:"";
    position:absolute;
    top:18px;
    left:18px;
    display:block;
	width:20px;
	height:20px;
    background: url("../images/btn_plus_ico.png") no-repeat 0 0;
    background-size:20px;
}
.inp_btm_btn {display:table; width:100%; text-align:right;}
.inp_btm_btn > button {display:table-cell; width:150px; height:60px; font-family:'Roboto'; font-weight:400; font-style:normal; font-size:13px; text-align:right; line-height:15px; letter-spacing:-0.05em; color:#000000;}
.inp_btm_btn .inp_btn_register {position:relative; margin-left:20px; padding-right:32px; background:#FFE3EB; border:2px solid #000000; box-sizing:border-box; box-shadow:0px 2px 0px #000000; border-radius:10px; font-weight:700; font-size:15px; line-height:18px;}
.inp_btm_btn .inp_btn_register::before {
    content:"";
    position:absolute;
    top:21px;
    left:16px;
    display:block;
	width:25px;
	height:20px;
    background: url("../images/btn_plus_register.png") no-repeat 0 0;
    background-size:25px 18px;
}

/* _view */
.btn_close {position:relative; width:100%; height:74px; z-index:1;}
.btn_close > button {position:absolute; top:20px; right:20px; display:block; width:32px; height:32px; background: url("../images/btn_close.png") no-repeat 0 0; text-indent:-9999px;}
.view_img {position:absolute; top:50%; left:50%; width:100%; transform: translate(-50%,-50%);}
.view_img img {width:100%;}
.gallery_img {}
.gallery_img img {width:100%;}

.ft_view {position:fixed; bottom:0; left:0; right:0; padding:0 20px 20px; font-family:'Cafe24SsurroundAir'; font-style:normal; font-weight:300; font-size:15px; line-height:24px; color:#FFFFFF;}
.ft_view .ft_info dt::after {content:''; display:block; clear:both;}
.ft_view .ft_info dt > .ft_txt {float:left;}
.ft_view .ft_info dt > .ft_date {float:right; font-size:10px; line-height:18px;}
.ft_view .ft_info dt > .ft_date > em {color:#ffffff; margin-left:10px;}
.ft_view .ft_info dt > .ft_date > em::after {top:5px !important;}
.ft_view .ft_info > dd {margin-top:20px; font-size:13px; line-height:18px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}

/* home */
.cont_home {position:relative; margin:0 auto; padding:4px 0 95px; text-align:center;}
.cont_home::after {
    content:''; 
    display:block; 
    clear:both;
} 
.cont_home .home_list {float:left; width:290px; margin:0 calc(50% - 145px); z-index:1;}
.cont_home .home_list li {float:left; margin-top:10px; font-family:'Cafe24Ssurround'; font-style:normal; font-weight:bold; font-size:14px; line-height:17px; text-align:center; letter-spacing:-0.05em; color:#000000;}
.cont_home .home_list li a {display:block; width:70px; height:92px;}
.cont_home .home_list li a > img {display:block; width:70px; height:70px; vertical-align:top; margin:0 auto 5px;}
.cont_home .home_list li a > span {display:block; vertical-align:top; margin:0 auto 12px;}
.cont_home .home_list li:nth-child(3n+2) {margin-left:40px; margin-right:40px;}

/* home bg icon */
.hm_00 {position:absolute; top:15px; left:65px; width:48px; height:48px; background: url('../images/hm_00.png') no-repeat 0 0; z-index:-1;}
.hm_01 {position:absolute; top:116px; left:0; width:32px; height:42px; background: url('../images/hm_01.png') no-repeat 0 0;}
.hm_02 {position:absolute; top:85px; right:0; width:66px; height:80px; background: url('../images/hm_02.png') no-repeat 0 0; z-index:-1;}
.hm_03 {position:absolute; top:203px; right:0; width:39px; height:51px; background: url('../images/hm_03.png') no-repeat 0 0;}
.hm_04 {position:absolute; top:312px; left:0; width:70px; height:87px; background: url('../images/hm_04.png') no-repeat 0 0; z-index:-1;}
.hm_05 {position:absolute; top:333px; left:128px; width:42px; height:41px; background: url('../images/hm_05.png') no-repeat 0 0; z-index:-1;}
.hm_06 {position:absolute; top:381px; right:121px; width:54px; height:105px; background: url('../images/hm_06.png') no-repeat 0 0; z-index:-1;}
.hm_07 {position:absolute; top:433px; left:90px; width:49px; height:47px; background: url('../images/hm_07.png') no-repeat 0 0; z-index:-1;}
.hm_08 {position:absolute; top:409px; right:0; width:92px; height:125px; background: url('../images/hm_08.png') no-repeat 0 0;}

/* open */
.cont_open .open_txt {display:block; width:224px; height:197px; margin:44px auto 0; background: url('../images/open_txt.png') no-repeat 0 0; text-indent:-9999px;}

/* open footer */
.ft_open {position:fixed; bottom:0; left:0; right:0; padding:0 10px 10px 10px;}
.ft_open .inner {position:relative; display:table; width:355px; height:60px; margin:0 auto;}
.ft_open .inner .open_soon {display:table-cell; width:245px; height:60px; margin-left:10px; background:#FFEFE6; box-shadow:0px 4px 15px rgba(0, 0, 0, 0.05); border-radius:13px;font-family:'Cafe24Ssurround'; font-style:normal; font-weight:bold; font-size:20px; line-height:24px; align-items:center; text-align:center; letter-spacing:-0.05em; color:#AD3D00; opacity:0.3; vertical-align:middle;}

.ft_open .inner .instar {position:relative; 
    display:table-cell;}
.ft_open .inner .instar::before {
    content:""; 
    position:relative; 
    top:0; 
    left:10px; 
    display:block; 
    width:100px; 
    height:60px; 
    background:#FFFFFF; 
    box-shadow:0px 4px 15px rgba(0, 0, 0, 0.05); 
    border-radius:13px;
}
.ft_open .inner .instar > a {position:absolute; bottom:10px; left:20px; display:table-cell; width:79px; height:75px;}
.ft_open .inner .instar a::before {
    content:"";
    display:block; 
    width:51px; 
    height:50px; 
    background: url('../images/ft_icon_03.png') no-repeat; 
    background-size:51px auto;
    margin:0 auto;
}
.ft_open .inner .instar > a > em {display:block; font-family:'Cafe24Ssurround'; font-style:normal; font-weight:bold; font-size:15px; line-height:18px; letter-spacing:-0.05em; color:#000000; text-align:center;}

/* _profile */
.cont_ap {padding:30px 30px 95px;}
.cont_ap .ap_view {position:relative; width:150px; height:150px; margin:0 auto;}
.cont_ap .ap_view::after {
    content:"";
    display:block;
	width:32px;
	height:32px;
    position:absolute;
    bottom:5px; 
    right:5px;
	background: url("../images/view_ico.png") no-repeat;
}

.cont_ap .ap_active {margin:30px auto 20px; text-align:center;}
.cont_ap .ap_active dt {font-family:'Cafe24Ssurround'; font-style:normal; font-weight:bold; font-size:15px; line-height:18px; letter-spacing:-0.05em; color:#000000;}
.cont_ap .ap_active dd {margin-top:26px; font-family:'Roboto'; font-style:normal; font-weight:normal; font-size:13px; line-height:18px; letter-spacing:-0.05em; color:#A3A3A3;}
.cont_ap .ap_active .apa_area {font-size:15px;}
.cont_ap .ap_active .apa_area > span::before {
    content:" · ";
    display:inline-block;
    padding:0 5px;
}
.cont_ap .ap_active .apa_area span:first-child::before {content:"";}
.cont_ap .ap_active .apa_txt {color:#535353;}
.cont_ap .ap_active .apa_career ul li {margin-top:3px;}
.cont_ap .ap_active .apa_career ul li:first-child {margin-top:0;}

.cont_ap .sns_link {float:none; display:block; width:232px; height:44px; margin:0 auto; background: url('../images/sns_link.png') no-repeat; background-size:100%;}
.cont_ap .sns_link > li {float:left; margin-left:3px;}
.cont_ap .sns_link > li::after {
    content:''; 
    clear:both; 
    display:block;
}
.cont_ap .sns_link > li:first-child {margin-left:0;}
.cont_ap .sns_link > li > a {display:block; width:44px; height:44px; text-indent:-9999px;}

/* popup */
.popup_modal {position:fixed; left:0; right:0; top:0; bottom:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.7); z-index:999; overflow:hidden;}
.popup_modal > button {position:absolute; left:50%; top:50%; width:calc(100% - 84px); height:42px; background:#FFFFFF; border-radius:10px; font-family:'Roboto'; font-style:normal; font-weight:400; font-size:16px; line-height:22px; letter-spacing:-0.05em; color:#000000;}
.popup_modal > button > span {padding-left:15px; opacity:0.3;}

/* mypage */
.cont_my {padding:25px 25px 95px;}
.my_list {}
.my_list > li {height:81px; margin-top:15px; padding:20px; background:#FFFFFF; border:2px solid rgba(0, 71, 255, 0.2); box-sizing:border-box; border-radius:13px;}
.my_list > li:first-child {margin-top:0;}

.my_box {display:block; position:relative; padding-left:50px; font-family:'Roboto'; font-style:normal; font-weight:400; font-size:15px; line-height:18px; letter-spacing:-0.05em; color:#000000;}
.my_box .ico {position:absolute; top:0; left:0; width:40px; height:40px;}
.my_box .tit {margin-bottom:5px;}
.my_box .txt {font-size:13px; opacity:0.45;}

/* member */
.member_link {float:none; display:block; width:245px; height:50px; margin:0 auto; background: url('../images/member_sns.png') no-repeat; background-size:100%;}
.member_link > li {float:left; margin-left:15px;}
.member_link > li::after {
    content:''; 
    clear:both; 
    display:block;
}
.member_link > li:first-child {margin-left:0;}
.member_link > li > a {display:block; width:50px; height:50px; text-indent:-9999px;}