.cont_gallery {padding-bottom:108px;}
/* Center slide text vertically */
.filter_tab {padding:0 5px;margin:10px 0 20px;}
.filter-wrapper {}
.filter-wrapper:after {content:'';clear:both;display:block;}
.filter-item {float:left;display:block;height:45px;margin:0 5px 10px;background:#D6EDF9;box-sizing:border-box;border-radius:13px;}
.filter-item.on {background:#FFFFFF;border:2px solid #000000;}
.filter-item.on a {color:#000}
.filter-item a {display:block;min-width:55px;height:100%;padding:15px 15px 13px;font-family:'Cafe24Ssurround', sans-serif;color:#84A8BA;font-size:14px;font-weight:700;line-height:17px;letter-spacing:-0.05em;text-align:center;box-sizing:border-box;white-space:nowrap;}
/* masonry */
.grid-gallery {padding:0 2.66%;height:100%;}
.grid {width:100%;height:100%;}
.grid:after {content:'';clear:both;display:block;}
.grid li:nth-child(odd) {margin-left:0}
.grid-item {float:left;width:50%;display:block;height:auto;margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;}
.grid-inner {overflow:hidden;padding:0 4.22%;height:100%;}
.grid-thumbnail {position:relative;width:100%;margin:0;padding:0;}
.grid-thumbnail:before {content:'';position:absolute;top:0;bottom:0;right:0;left:0;}
.grid-thumbnail img {max-width:100%;width:100%;border-radius:10px}
.grid-info {padding-top:8px;}
.grid-description {overflow:hidden;width:100%;display:inline-block;text-overflow:ellipsis;white-space:nowrap;color:#9c9c9c;font-size:13px;font-weight:300;line-height:18px;letter-spacing:0px;text-align:left;}
.grid-bar {width:100%;height:25px;position:relative;margin:0;}
.grid-bar span {line-height:25px;margin-left:20px;font-size:12px;color:#9c9c9c;}
.grid-edit {height:100%;float:right;margin-right:20px;}
.grid-edit button {border:0;border-radius:50%;background:#252627;color:#fff;width:25px;height:25px;font-size:10px;cursor:pointer;}
.grid-edit button:hover {background:#242a31;}
.grid-title, .grid-description {font-family:'Cafe24SsurroundAir', sans-serif;}
.grid-title {color:#18191F;;font-size:15px;font-weight:300;line-height:24px;letter-spacing:0px;text-align:left;}
.grid-description {color:#474A57;}

